body{
    width: 100vw;
    height: min-content;
    font-family: 'Poppins', sans-serif;
}

.bar{
    
    display: flex;
    justify-content: flex-end ;
   
}


.tables{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
    flex-direction: column;



    form{
        width: 50%;
    }
    
    .content{
        
        width: min(80vw, 90rem);
        height:  min(80vw, 70rem);
        padding: 2rem;
        overflow-x:auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

         
        .search{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
        }
        table{
            
            border-radius: 11px;
            
            width: min(80vw, 100%);
            min-height: fit-content;
           
            
            thead{
                
                tr{
                    background: linear-gradient(240deg, #D3CCE3,#E9E4F0);
                    height: min(45vw, 6rem);
                    th{
                        border: 2px solid rgba(0, 0, 0, 0.339);
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }


            tbody{
                font-size: clamp(.6rem, 4.5vw, 1rem);
                font-weight: 700;
                
                tr{
                    height: min(40vw, 6rem);
                    td{
                        border: 2px solid rgba(0, 0, 0, 0.339);
                        text-align: center;
                        vertical-align: middle;
                        
                        button{
                            display: flex;
                            
                            justify-content: center;
                            width: min(12vw, 8rem);
                            font-size: clamp(.7rem, 2.5vw, .8rem);
                            span{
                                color:black;
                            }
                        }
                        
                     
                    }
                    
                }
            }
            
            
        }
    }
    
    
    
    
}